In [160]:
import pandas as pd
from matplotlib import pyplot as plt

In [161]:
dataset1 = 'data/AirVisual Data Dump.csv'
datasetAirPort = 'data/airportdata.csv'

In [162]:
data = pd.read_csv(dataset1)
dataPort = pd.read_csv(datasetAirPort)
dataPort.info()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84925 entries, 0 to 84924
Data columns (total 11 columns):
station               84925 non-null object
valid                 84925 non-null object
lon                   84925 non-null float64
lat                   84925 non-null float64
tmpc                  84557 non-null float64
relh                  84101 non-null float64
drct                  84736 non-null float64
sped                  84823 non-null float64
vsby                  84835 non-null float64
gust_mph              26 non-null float64
peak_wind_gust_mph    0 non-null float64
dtypes: float64(9), object(2)
memory usage: 7.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179749 entries, 0 to 179748
Data columns (total 14 columns):
SerialNumber        164788 non-null object
City                117617 non-null object
Name                179749 non-null object
longitude           117617 non-null float64
latitude            117617 non-null float64
FirstOnline         117617 non-null object
Datetime            179749 non-null object
PM2.5               179749 non-null float64
USAQI               179749 non-null int64
CO2                 164788 non-null float64
Temperature         178250 non-null float64
RelativeHumidity    178250 non-null float64
Outdoor PM2.5       120839 non-null float64
OutdoorUSAQI        120839 non-null float64
dtypes: float64(8), int64(1), object(5)
memory usage: 19.2+ MB

In [163]:
dataPort.groupby(["station"]).count()

,valid,lon,lat,tmpc,relh,drct,sped,vsby,gust_mph,peak_wind_gust_mph
station,,,,,,,,,,
OPFA,28,28,28,28,28,28,28,28,0,0
OPKC,28238,28238,28238,28171,28051,28134,28216,28218,1,0
OPLA,18021,18021,18021,17778,17649,17990,17989,17997,25,0
OPPS,25082,25082,25082,25062,24964,25070,25069,25073,0,0
OPRN,13556,13556,13556,13518,13409,13514,13521,13519,0,0

In [164]:
display(data.shape)
data.drop_duplicates(inplace=True)

(179749, 14)

In [165]:
data.shape

(151256, 14)

In [166]:
dataPort.drop(["gust_mph", "peak_wind_gust_mph"], inplace = True, axis = 1)
dataPort.head()

  station             valid      lon      lat  tmpc   relh   drct  sped  vsby
0    OPPS  2016-10-20 00:00  71.5833  34.0167  20.0  68.35  230.0  4.60  2.49
1    OPKC  2016-10-20 00:55  67.1333  24.9000  25.0  83.44  250.0  6.90  3.11
2    OPPS  2016-10-20 01:00  71.5833  34.0167  20.0  72.92  310.0  6.90  2.49
3    OPKC  2016-10-20 01:25  67.1333  24.9000  25.0  83.44  240.0  5.75  2.49
4    OPKC  2016-10-20 01:55  67.1333  24.9000  25.0  83.44  250.0  6.90  2.49

In [167]:
data["City"].fillna("Karachi", inplace = True)

In [168]:
dataPort.info()
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84925 entries, 0 to 84924
Data columns (total 9 columns):
station    84925 non-null object
valid      84925 non-null object
lon        84925 non-null float64
lat        84925 non-null float64
tmpc       84557 non-null float64
relh       84101 non-null float64
drct       84736 non-null float64
sped       84823 non-null float64
vsby       84835 non-null float64
dtypes: float64(7), object(2)
memory usage: 5.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 151256 entries, 0 to 179748
Data columns (total 14 columns):
SerialNumber        136295 non-null object
City                151256 non-null object
Name                151256 non-null object
longitude           95037 non-null float64
latitude            95037 non-null float64
FirstOnline         95037 non-null object
Datetime            151256 non-null object
PM2.5               151256 non-null float64
USAQI               151256 non-null int64
CO2                 136295 non-null float64
Temperature         149757 non-null float64
RelativeHumidity    149757 non-null float64
Outdoor PM2.5       96106 non-null float64
OutdoorUSAQI        96106 non-null float64
dtypes: float64(8), int64(1), object(5)
memory usage: 17.3+ MB

In [170]:
dataPort['Datetime'] = pd.to_datetime(dataPort.valid)
dataPort['Datetime'] = dataPort['Datetime'].dt.round('H')
dataPort.groupby("Datetime").count()

                     station  valid  lon  lat  tmpc  relh  drct  sped  vsby
Datetime
2016-10-20 00:00:00        1      1    1    1     1     1     1     1     1
2016-10-20 01:00:00        3      3    3    3     3     3     3     3     3
2016-10-20 02:00:00        5      5    5    5     5     5     5     5     5
2016-10-20 03:00:00        3      3    3    3     3     3     3     3     3
2016-10-20 04:00:00        7      7    7    7     7     7     7     7     7
2016-10-20 05:00:00        4      4    4    4     4     4     4     4     4
2016-10-20 06:00:00        7      7    7    7     7     7     7     7     7
2016-10-20 07:00:00        5      5    5    5     5     5     5     5     5
2016-10-20 08:00:00        6      6    6    6     6     6     6     6     6
2016-10-20 09:00:00        4      4    4    4     4     4     4     4     4
2016-10-20 10:00:00        5      5    5    5     5     5     5     5     5
2016-10-20 11:00:00        4      4    4    4     4     4     4     4     4
2016-10-20 12:00:00        6      6    6    6     6     6     6     6     6
2016-10-20 13:00:00        3      3    3    3     3     3     3     3     3
2016-10-20 14:00:00        1      1    1    1     1     1     1     1     1
2016-10-20 15:00:00        4      4    4    4     4     4     4     4     4
2016-10-20 16:00:00        6      6    6    6     6     6     6     6     6
2016-10-20 17:00:00        2      2    2    2     2     2     2     2     2
2016-10-20 18:00:00        6      6    6    6     6     6     6     6     6
2016-10-20 19:00:00        5      5    5    5     5     5     5     5     5
2016-10-20 20:00:00        5      5    5    5     5     5     5     5     5
2016-10-20 21:00:00        4      4    4    4     4     4     4     4     4
2016-10-20 22:00:00        4      4    4    4     4     4     4     4     4
2016-10-20 23:00:00        5      5    5    5     5     5     5     5     5
2016-10-21 00:00:00        5      5    5    5     5     5     5     5     5
2016-10-21 01:00:00        4      4    4    4     4     4     4     4     4
2016-10-21 02:00:00        6      6    6    6     6     6     6     6     6
2016-10-21 03:00:00        4      4    4    4     4     4     4     4     4
2016-10-21 04:00:00        7      7    7    7     7     7     7     7     7
2016-10-21 05:00:00        5      5    5    5     5     5     5     5     5
...                      ...    ...  ...  ...   ...   ...   ...   ...   ...
2018-08-30 19:00:00        5      5    5    5     5     5     5     5     5
2018-08-30 20:00:00        6      6    6    6     6     6     6     6     6
2018-08-30 21:00:00        4      4    4    4     4     4     4     4     4
2018-08-30 22:00:00        6      6    6    6     6     6     6     6     6
2018-08-30 23:00:00        4      4    4    4     4     4     4     4     4
2018-08-31 00:00:00        6      6    6    6     5     5     6     6     6
2018-08-31 01:00:00        5      5    5    5     5     5     5     5     5
2018-08-31 02:00:00        6      6    6    6     6     6     6     6     6
2018-08-31 03:00:00        2      2    2    2     2     2     2     2     2
2018-08-31 04:00:00        8      8    8    8     8     8     8     8     8
2018-08-31 05:00:00        1      1    1    1     1     1     1     1     1
2018-08-31 06:00:00        8      8    8    8     8     8     8     8     8
2018-08-31 07:00:00        5      5    5    5     5     5     5     5     5
2018-08-31 08:00:00       10     10   10   10    10    10    10    10    10
2018-08-31 09:00:00        5      5    5    5     5     5     5     5     5
2018-08-31 10:00:00        9      9    9    9     9     9     9     9     9
2018-08-31 11:00:00        6      6    6    6     6     6     6     6     6
2018-08-31 12:00:00       10     10   10   10    10    10    10    10    10
2018-08-31 13:00:00        6      6    6    6     6     6     6     6     6
2018-08-31 14:00:00       10     10   10   10    10    10    10    10    10
2018-08-31 15:00:00        4      4    4    4     4     4     4     4     4
2018-08-31 16:00:00        9      9    9    9     9     9     9     9     9
2018-08-31 17:00:00        4      4    4    4     4     4     4     4     4
2018-08-31 18:00:00        9      9    9    9     9     9     9     9     9
2018-08-31 19:00:00        4      4    4    4     4     4     4     4     4
2018-08-31 20:00:00        8      8    8    8     8     8     8     8     8
2018-08-31 21:00:00        6      6    6    6     6     6     6     6     6
2018-08-31 22:00:00        7      7    7    7     7     7     7     7     7
2018-08-31 23:00:00        5      5    5    5     5     5     5     5     5
2018-09-01 00:00:00        1      1    1    1     1     1     1     1     1

[16282 rows x 9 columns]

In [171]:
# OPFA Faisalabad
# OPKC Karachi
# OPLA Lahore
# OPPS Peshawar
# OPRN Islamabad
serialToCity = {'OPFA': 'Faisalabad', 'OPKC': 'Karachi', 'OPLA': 'Lahore', 'OPPS': 'Peshawar', 'OPRN': 'Islamabad'}

In [172]:
dataPort['City'] = dataPort.station.apply(lambda x : serialToCity[x])
dataPort.drop(['valid','station', 'lon', 'lat'], axis = 1, inplace=True)
dataPort.drop(dataPort[dataPort.City=="Faisalabad"].index, inplace=True)

In [173]:
data.shape

(151256, 14)

In [174]:
display(dataPort.head(100))
dataPort = dataPort.groupby(['City', 'Datetime']).mean()

    tmpc   relh   drct   sped  vsby            Datetime      City
0   20.0  68.35  230.0   4.60  2.49 2016-10-20 00:00:00  Peshawar
1   25.0  83.44  250.0   6.90  3.11 2016-10-20 01:00:00   Karachi
2   20.0  72.92  310.0   6.90  2.49 2016-10-20 01:00:00  Peshawar
3   25.0  83.44  240.0   5.75  2.49 2016-10-20 01:00:00   Karachi
4   25.0  83.44  250.0   6.90  2.49 2016-10-20 02:00:00   Karachi
5   19.0  82.74   80.0   5.75  0.62 2016-10-20 02:00:00    Lahore
6   20.0  68.35  230.0   4.60  2.24 2016-10-20 02:00:00  Peshawar
7   26.0  83.55  240.0   9.20  2.49 2016-10-20 02:00:00   Karachi
8   19.0  82.74    0.0   0.00  0.62 2016-10-20 02:00:00    Lahore
9   21.0  64.26  230.0   4.60  1.86 2016-10-20 03:00:00  Peshawar
10  26.0  78.62  230.0  11.50  2.49 2016-10-20 03:00:00   Karachi
11  22.0  73.27  110.0   3.45  0.93 2016-10-20 03:00:00    Lahore
12  21.0  64.26  230.0   4.60  1.86 2016-10-20 04:00:00  Peshawar
13  27.0  74.11  250.0  13.80  2.49 2016-10-20 04:00:00   Karachi
14  23.0  68.94    0.0   0.00  0.93 2016-10-20 04:00:00    Lahore
15  24.0  50.17  270.0   4.60  1.86 2016-10-20 04:00:00  Peshawar
16  24.0  64.91   80.0   3.45  0.93 2016-10-20 04:00:00    Lahore
17  28.0  69.90  250.0  16.10  3.11 2016-10-20 04:00:00   Karachi
18  24.0  50.17  270.0   4.60  1.86 2016-10-20 04:00:00  Peshawar
19  29.0  65.95  240.0  11.50  3.11 2016-10-20 05:00:00   Karachi
20  25.0  61.13   40.0   4.60  1.86 2016-10-20 05:00:00    Lahore
21  26.0  44.52   50.0   4.60  1.86 2016-10-20 05:00:00  Peshawar
22  26.0  57.60   70.0   4.60  2.17 2016-10-20 05:00:00    Lahore
23  26.0  44.52   50.0   4.60  1.86 2016-10-20 06:00:00  Peshawar
24  30.0  58.55  210.0  10.35  3.73 2016-10-20 06:00:00   Karachi
25  28.0  51.21  100.0   3.45  2.49 2016-10-20 06:00:00    Lahore
26  28.0  39.58   50.0   6.90  1.86 2016-10-20 06:00:00  Peshawar
27  29.0  51.47   40.0   4.60  2.49 2016-10-20 06:00:00    Lahore
28  30.0  62.25  210.0  12.65  3.73 2016-10-20 06:00:00   Karachi
29  28.0  39.58   50.0   6.90  1.86 2016-10-20 06:00:00  Peshawar
..   ...    ...    ...    ...   ...                 ...       ...
70  27.0  50.95    0.0   0.00  2.49 2016-10-20 16:00:00    Lahore
71  27.0  78.76  230.0   8.05  3.73 2016-10-20 16:00:00   Karachi
72  25.0  38.74  230.0  11.50  1.55 2016-10-20 16:00:00  Peshawar
73  25.0  38.74  230.0  11.50  1.55 2016-10-20 16:00:00  Peshawar
74  26.0  78.62  220.0   5.75  3.73 2016-10-20 17:00:00   Karachi
75  23.0  60.67  180.0   9.20  1.55 2016-10-20 17:00:00  Peshawar
76  23.0  60.67  180.0   9.20  1.55 2016-10-20 18:00:00  Peshawar
77  26.0  78.62  230.0   5.75  3.73 2016-10-20 18:00:00   Karachi
78  23.0  60.67  180.0   9.20  1.55 2016-10-20 18:00:00  Peshawar
79  26.0  78.62  230.0   4.60  3.73 2016-10-20 18:00:00   Karachi
80  25.0  57.36    0.0   0.00  2.49 2016-10-20 18:00:00    Lahore
81  23.0  60.67  180.0   9.20  1.55 2016-10-20 18:00:00  Peshawar
82  24.0  64.91  120.0   5.75  2.49 2016-10-20 19:00:00    Lahore
83  26.0  78.62  250.0   6.90  3.73 2016-10-20 19:00:00   Karachi
84  23.0  60.67  230.0   6.90  1.86 2016-10-20 19:00:00  Peshawar
85  24.0  64.91    0.0   0.00  2.49 2016-10-20 19:00:00    Lahore
86  26.0  78.62  230.0   8.05  3.73 2016-10-20 19:00:00   Karachi
87  26.0  78.62  250.0  10.35  3.73 2016-10-20 20:00:00   Karachi
88  24.0  64.91    0.0   0.00  2.49 2016-10-20 20:00:00    Lahore
89  22.0  60.44  230.0   9.20  1.86 2016-10-20 20:00:00  Peshawar
90  23.0  68.94   70.0   4.60  2.49 2016-10-20 20:00:00    Lahore
91  26.0  78.62  270.0   8.05  3.73 2016-10-20 20:00:00   Karachi
92  23.0  68.94   70.0   4.60  2.49 2016-10-20 21:00:00    Lahore
93  26.0  78.62  260.0   4.60  3.73 2016-10-20 21:00:00   Karachi
94  22.0  60.44  230.0   6.90  2.49 2016-10-20 21:00:00  Peshawar
95  25.0  83.44    0.0   0.00  3.73 2016-10-20 21:00:00   Karachi
96  25.0  83.44    0.0   0.00  3.73 2016-10-20 22:00:00   Karachi
97  22.0  60.44  230.0   6.90  2.49 2016-10-20 22:00:00  Peshawar
98  24.0  88.59    0.0   0.00  3.73 2016-10-20 22:00:00   Karachi
99  21.0  77.90    0.0   0.00  2.17 2016-10-20 22:00:00    Lahore

[100 rows x 7 columns]

In [175]:
data.Datetime = pd.to_datetime(data['Datetime'])
data = data.merge( dataPort, on = ['Datetime', 'City'])
data.drop(["latitude", "longitude", "Outdoor PM2.5", "OutdoorUSAQI"], axis = 1, inplace = True)
data.to_csv('data/mergedData.csv')

In [176]:
data['weekday'] = data['Datetime'].dt.dayofweek
data['hour'] = data.Datetime.dt.hour
data['month'] = data.Datetime.dt.month
data['year'] = data.Datetime.dt.year
data['dayofmonth'] = data.Datetime.dt.day

In [177]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 118063 entries, 0 to 118062
Data columns (total 20 columns):
SerialNumber        111267 non-null object
City                118063 non-null object
Name                118063 non-null object
FirstOnline         70233 non-null object
Datetime            118063 non-null datetime64[ns]
PM2.5               118063 non-null float64
USAQI               118063 non-null int64
CO2                 111267 non-null float64
Temperature         117321 non-null float64
RelativeHumidity    117321 non-null float64
tmpc                117826 non-null float64
relh                117248 non-null float64
drct                117914 non-null float64
sped                117987 non-null float64
vsby                118017 non-null float64
weekday             118063 non-null int64
hour                118063 non-null int64
month               118063 non-null int64
year                118063 non-null int64
dayofmonth          118063 non-null int64
dtypes: datetime64[ns](1), float64(9), int64(6), object(4)
memory usage: 18.9+ MB

In [211]:
dataX = data.iloc[data.City == "Karachi" and data.year == 2018]
dataX

ValueError: too many values to unpack (expected 1)

In [ ]:
lst = [i for i in range(10)]
lst > 0

In [200]:
dataX.groupby(["SerialNumber"]).count()

,City,Name,FirstOnline,Datetime,PM2.5,USAQI,CO2,Temperature,RelativeHumidity,tmpc,relh,drct,sped,vsby,weekday,hour,month,year,dayofmonth
SerialNumber,,,,,,,,,,,,,,,,,,,
4cvxlkt,3387,3387,0,3387,3387,3387,3387,3387,3387,3386,3385,3385,3385,3386,3387,3387,3387,3387,3387
4ypxth4,13959,13959,13959,13959,13959,13959,13959,13959,13959,13949,13898,13939,13956,13957,13959,13959,13959,13959,13959
997gv7h,2055,2055,0,2055,2055,2055,2055,2055,2055,2054,2053,2053,2054,2055,2055,2055,2055,2055,2055
a67pmak,4179,4179,0,4179,4179,4179,4179,4179,4179,4172,4148,4177,4177,4178,4179,4179,4179,4179,4179
aj9xpaw,8777,8777,8777,8777,8777,8777,8777,8777,8777,8771,8723,8762,8777,8776,8777,8777,8777,8777,8777
ajgclt7,4022,4022,4022,4022,4022,4022,4022,4022,4022,4019,4017,4019,4020,4021,4022,4022,4022,4022,4022
cpguxuc,4481,4481,0,4481,4481,4481,4481,4481,4481,4475,4449,4476,4479,4481,4481,4481,4481,4481,4481
g6gs9ls,3913,3913,3913,3913,3913,3913,3913,3913,3913,3910,3885,3909,3911,3912,3913,3913,3913,3913,3913
lllm4gm,5126,5126,0,5126,5126,5126,5126,5126,5126,5120,5094,5121,5123,5125,5126,5126,5126,5126,5126
lwpu64p,3758,3758,0,3758,3758,3758,3758,3758,3758,3753,3729,3755,3756,3757,3758,3758,3758,3758,3758
m9cuxv7,2562,2562,0,2562,2562,2562,2562,2562,2562,2558,2544,2557,2560,2561,2562,2562,2562,2562,2562
rjpamt6,11009,11009,0,11009,11009,11009,11009,11009,11009,11001,10952,10991,11006,11009,11009,11009,11009,11009,11009
tj4gawm,1869,1869,0,1869,1869,1869,1869,1869,1869,1866,1857,1867,1868,1869,1869,1869,1869,1869,1869
tlxa6x7,4167,4167,0,4167,4167,4167,4167,4167,4167,4162,4159,4163,4164,4166,4167,4167,4167,4167,4167
twa67s6,5237,5237,0,5237,5237,5237,5237,5237,5237,5230,5204,5232,5234,5236,5237,5237,5237,5237,5237
yggpgpl,3261,3261,3261,3261,3261,3261,3261,3261,3261,3256,3230,3256,3259,3261,3261,3261,3261,3261,3261

In [202]:
data[data.SerialNumber == "4ypxth4"].Name

0        Defence Housing Authority
1        Defence Housing Authority
2        Defence Housing Authority
3        Defence Housing Authority
4        Defence Housing Authority
5        Defence Housing Authority
6        Defence Housing Authority
7        Defence Housing Authority
8        Defence Housing Authority
9        Defence Housing Authority
10       Defence Housing Authority
11       Defence Housing Authority
12       Defence Housing Authority
13       Defence Housing Authority
14       Defence Housing Authority
15       Defence Housing Authority
16       Defence Housing Authority
17       Defence Housing Authority
18       Defence Housing Authority
19       Defence Housing Authority
20       Defence Housing Authority
21       Defence Housing Authority
22       Defence Housing Authority
23       Defence Housing Authority
24       Defence Housing Authority
25       Defence Housing Authority
26       Defence Housing Authority
27       Defence Housing Authority
28       Defence Housing Authority
29       Defence Housing Authority
                   ...
71596    Defence Housing Authority
71597    Defence Housing Authority
71598    Defence Housing Authority
71599    Defence Housing Authority
71600    Defence Housing Authority
71601    Defence Housing Authority
71602    Defence Housing Authority
71603    Defence Housing Authority
71604    Defence Housing Authority
71605    Defence Housing Authority
71606    Defence Housing Authority
71607    Defence Housing Authority
71608    Defence Housing Authority
71609    Defence Housing Authority
71610    Defence Housing Authority
71611    Defence Housing Authority
71612    Defence Housing Authority
71613    Defence Housing Authority
71614    Defence Housing Authority
71615    Defence Housing Authority
71616    Defence Housing Authority
71617    Defence Housing Authority
71618    Defence Housing Authority
71619    Defence Housing Authority
71620    Defence Housing Authority
71621    Defence Housing Authority
71622    Defence Housing Authority
71623    Defence Housing Authority
71624    Defence Housing Authority
71625    Defence Housing Authority
Name: Name, Length: 13959, dtype: object