In [9]:
import pandas as pd

In [14]:
dataset1 = '../data/AirVisual Data Dump.csv'
dataset2 = '../data/airportdata.csv'

In [15]:
#loading data
data = pd.read_csv(dataset1)

In [16]:
#peeking into the data
data.head()

,SerialNumber,City,Name,longitude,latitude,FirstOnline,Datetime,PM2.5,USAQI,CO2,Temperature,RelativeHumidity,Outdoor PM2.5,OutdoorUSAQI
0,4ypxth4,Karachi,Defence Housing Authority,67.052941,24.818095,2016-10-20 18:00:00,2017-11-07 13:00:00,28.0,84,411.0,31.0,59.0,NaN,NaN
1,4ypxth4,Karachi,Defence Housing Authority,67.052941,24.818095,2016-10-20 18:00:00,2017-11-07 12:00:00,36.0,102,413.0,30.0,62.0,NaN,NaN
2,4ypxth4,Karachi,Defence Housing Authority,67.052941,24.818095,2016-10-20 18:00:00,2017-11-07 11:00:00,46.0,127,416.0,30.0,63.0,NaN,NaN
3,4ypxth4,Karachi,Defence Housing Authority,67.052941,24.818095,2016-10-20 18:00:00,2017-11-07 10:00:00,46.0,127,419.0,29.0,58.0,NaN,NaN
4,4ypxth4,Karachi,Defence Housing Authority,67.052941,24.818095,2016-10-20 18:00:00,2017-11-07 09:00:00,88.0,168,432.0,27.0,70.0,NaN,NaN

In [17]:
#columns
list(data.columns)

['SerialNumber',
 'City',
 'Name',
 'longitude',
 'latitude',
 'FirstOnline',
 'Datetime',
 'PM2.5',
 'USAQI',
 'CO2',
 'Temperature',
 'RelativeHumidity',
 'Outdoor PM2.5',
 'OutdoorUSAQI']

In [18]:
#shape of data
data.shape

(179749, 14)

In [21]:
#null values by column
data.isna().sum()

SerialNumber        14961
City                62132
Name                    0
longitude           62132
latitude            62132
FirstOnline         62132
Datetime                0
PM2.5                   0
USAQI                   0
CO2                 14961
Temperature          1499
RelativeHumidity     1499
Outdoor PM2.5       58910
OutdoorUSAQI        58910
dtype: int64

In [22]:
#null values in Datetime: 0
data["Datetime"].isna().sum()

0

In [23]:
#null values in City:
data["City"].isna().sum()

62132

In [24]:
#filling null values in city with Karachi
data["City"].fillna("Karachi", inplace = True)

In [26]:
#null values by column again to verify that City has no null values
data.isna().sum()

SerialNumber        14961
City                    0
Name                    0
longitude           62132
latitude            62132
FirstOnline         62132
Datetime                0
PM2.5                   0
USAQI                   0
CO2                 14961
Temperature          1499
RelativeHumidity     1499
Outdoor PM2.5       58910
OutdoorUSAQI        58910
dtype: int64

## Key takeaways:
1. Lat, Lon, and FirstOnLine has the same number of null values as City.
2. What is FirstOnLine
3. How to deal with 1? We treated City by replacing the nulls with Karachi but we can't do the same with the other three columns.
4. How to deal with null values of the other columns, we could try replacing it with the mean perhaps? 
5. Both Outdoor PM2.5 and OutdootUSAQI have a considerable number of null values (around 60k), we will have to think of a good way to deal with these.

In [39]:
display(sorted(data["Datetime"])[:10])

['2016-10-06 14:00:00',
 '2016-10-06 14:00:00',
 '2016-10-06 15:00:00',
 '2016-10-06 15:00:00',
 '2016-10-06 17:00:00',
 '2016-10-06 17:00:00',
 '2016-10-06 18:00:00',
 '2016-10-06 18:00:00',
 '2016-10-06 19:00:00',
 '2016-10-06 19:00:00']

TypeError: '<' not supported between instances of 'float' and 'str'