In [44]:
import pandas as pd

In [45]:
dataset1 = 'data/AirVisual Data Dump.csv'
dataset2 = 'data/airportdata.csv'

In [46]:
#loading data
data = pd.read_csv(dataset1)

In [47]:
#peeking into the data
data.head()

,SerialNumber,City,Name,longitude,latitude,FirstOnline,Datetime,PM2.5,USAQI,CO2,Temperature,RelativeHumidity,Outdoor PM2.5,OutdoorUSAQI
0,4ypxth4,Karachi,Defence Housing Authority,67.052941,24.818095,2016-10-20 18:00:00,2017-11-07 13:00:00,28.0,84,411.0,31.0,59.0,NaN,NaN
1,4ypxth4,Karachi,Defence Housing Authority,67.052941,24.818095,2016-10-20 18:00:00,2017-11-07 12:00:00,36.0,102,413.0,30.0,62.0,NaN,NaN
2,4ypxth4,Karachi,Defence Housing Authority,67.052941,24.818095,2016-10-20 18:00:00,2017-11-07 11:00:00,46.0,127,416.0,30.0,63.0,NaN,NaN
3,4ypxth4,Karachi,Defence Housing Authority,67.052941,24.818095,2016-10-20 18:00:00,2017-11-07 10:00:00,46.0,127,419.0,29.0,58.0,NaN,NaN
4,4ypxth4,Karachi,Defence Housing Authority,67.052941,24.818095,2016-10-20 18:00:00,2017-11-07 09:00:00,88.0,168,432.0,27.0,70.0,NaN,NaN

In [48]:
#columns
list(data.columns)

['SerialNumber',
 'City',
 'Name',
 'longitude',
 'latitude',
 'FirstOnline',
 'Datetime',
 'PM2.5',
 'USAQI',
 'CO2',
 'Temperature',
 'RelativeHumidity',
 'Outdoor PM2.5',
 'OutdoorUSAQI']

In [49]:
#shape of data
data.shape

(179749, 14)