In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import mxnet 
from mxnet.gluon import *

In [2]:
finalData = pd.read_csv('../data/ReadyData.csv')

In [3]:
finalData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14592 entries, 0 to 14591
Data columns (total 14 columns):
Unnamed: 0          14592 non-null object
PM2.5               14592 non-null float64
USAQI               14592 non-null float64
CO2                 14592 non-null float64
Temperature         14592 non-null float64
RelativeHumidity    14592 non-null float64
weekday             14592 non-null float64
hour                14592 non-null float64
month               14592 non-null float64
year                14592 non-null float64
dayofmonth          14592 non-null float64
drct                14592 non-null float64
sped                14592 non-null float64
vsby                14592 non-null float64
dtypes: float64(13), object(1)
memory usage: 1.6+ MB

In [4]:
finalData.head()

,Unnamed: 0,PM2.5,USAQI,CO2,Temperature,RelativeHumidity,weekday,hour,month,year,dayofmonth,drct,sped,vsby
0,2017-01-01 00:00:00,210.500000,260.500000,438.000000,24.500000,62.500000,6.0,0.0,1.0,2017.0,1.0,10.0,4.6000,1.3950
1,2017-01-01 01:00:00,198.000000,248.000000,442.000000,24.000000,58.000000,6.0,1.0,1.0,2017.0,1.0,10.0,5.1750,1.3950
2,2017-01-01 02:00:00,195.500000,245.500000,436.500000,24.000000,54.000000,6.0,2.0,1.0,2017.0,1.0,5.0,2.5875,1.0075
3,2017-01-01 03:00:00,144.666667,209.666667,425.666667,22.333333,56.000000,6.0,3.0,1.0,2017.0,1.0,0.0,0.0000,1.1200
4,2017-01-01 04:00:00,133.666667,196.000000,416.000000,22.333333,53.666667,6.0,4.0,1.0,2017.0,1.0,5.0,2.3000,1.1775

In [5]:
lst = ["datetime"] + list(finalData.columns)[1:]
lst

['datetime',
 'PM2.5',
 'USAQI',
 'CO2',
 'Temperature',
 'RelativeHumidity',
 'weekday',
 'hour',
 'month',
 'year',
 'dayofmonth',
 'drct',
 'sped',
 'vsby']

In [6]:
finalData.columns = lst

In [7]:
finalData.head()

,datetime,PM2.5,USAQI,CO2,Temperature,RelativeHumidity,weekday,hour,month,year,dayofmonth,drct,sped,vsby
0,2017-01-01 00:00:00,210.500000,260.500000,438.000000,24.500000,62.500000,6.0,0.0,1.0,2017.0,1.0,10.0,4.6000,1.3950
1,2017-01-01 01:00:00,198.000000,248.000000,442.000000,24.000000,58.000000,6.0,1.0,1.0,2017.0,1.0,10.0,5.1750,1.3950
2,2017-01-01 02:00:00,195.500000,245.500000,436.500000,24.000000,54.000000,6.0,2.0,1.0,2017.0,1.0,5.0,2.5875,1.0075
3,2017-01-01 03:00:00,144.666667,209.666667,425.666667,22.333333,56.000000,6.0,3.0,1.0,2017.0,1.0,0.0,0.0000,1.1200
4,2017-01-01 04:00:00,133.666667,196.000000,416.000000,22.333333,53.666667,6.0,4.0,1.0,2017.0,1.0,5.0,2.3000,1.1775

In [8]:
len(finalData[finalData.year == 2017].month.unique()) #no of months in 2017
len(finalData[finalData.year == 2018].month.unique()) #no of months in 2018

8

In [9]:
finalData[finalData.year == 2017].info() #no of values in 2017
finalData[finalData.year == 2018].info() #no of values in 2018

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8760 entries, 0 to 8759
Data columns (total 14 columns):
datetime            8760 non-null object
PM2.5               8760 non-null float64
USAQI               8760 non-null float64
CO2                 8760 non-null float64
Temperature         8760 non-null float64
RelativeHumidity    8760 non-null float64
weekday             8760 non-null float64
hour                8760 non-null float64
month               8760 non-null float64
year                8760 non-null float64
dayofmonth          8760 non-null float64
drct                8760 non-null float64
sped                8760 non-null float64
vsby                8760 non-null float64
dtypes: float64(13), object(1)
memory usage: 1.0+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5832 entries, 8760 to 14591
Data columns (total 14 columns):
datetime            5832 non-null object
PM2.5               5832 non-null float64
USAQI               5832 non-null float64
CO2                 5832 non-null float64
Temperature         5832 non-null float64
RelativeHumidity    5832 non-null float64
weekday             5832 non-null float64
hour                5832 non-null float64
month               5832 non-null float64
year                5832 non-null float64
dayofmonth          5832 non-null float64
drct                5832 non-null float64
sped                5832 non-null float64
vsby                5832 non-null float64
dtypes: float64(13), object(1)
memory usage: 683.4+ KB

In [10]:
#we have data for a total of 20 months, let's train (roughly) for 16 months, and test for the remaining 4.

trainData = finalData[:30*16*24]
testData = finalData[30*16*24:]
trainData.info()
testData.info()
finalData.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11520 entries, 0 to 11519
Data columns (total 14 columns):
datetime            11520 non-null object
PM2.5               11520 non-null float64
USAQI               11520 non-null float64
CO2                 11520 non-null float64
Temperature         11520 non-null float64
RelativeHumidity    11520 non-null float64
weekday             11520 non-null float64
hour                11520 non-null float64
month               11520 non-null float64
year                11520 non-null float64
dayofmonth          11520 non-null float64
drct                11520 non-null float64
sped                11520 non-null float64
vsby                11520 non-null float64
dtypes: float64(13), object(1)
memory usage: 1.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3072 entries, 11520 to 14591
Data columns (total 14 columns):
datetime            3072 non-null object
PM2.5               3072 non-null float64
USAQI               3072 non-null float64
CO2                 3072 non-null float64
Temperature         3072 non-null float64
RelativeHumidity    3072 non-null float64
weekday             3072 non-null float64
hour                3072 non-null float64
month               3072 non-null float64
year                3072 non-null float64
dayofmonth          3072 non-null float64
drct                3072 non-null float64
sped                3072 non-null float64
vsby                3072 non-null float64
dtypes: float64(13), object(1)
memory usage: 336.1+ KB

,datetime,PM2.5,USAQI,CO2,Temperature,RelativeHumidity,weekday,hour,month,year,dayofmonth,drct,sped,vsby
14587,2018-08-31 19:00:00,26.571429,79.142857,506.000000,26.857143,80.571429,4.0,19.0,8.0,2018.0,31.0,150.000000,7.762500,2.800000
14588,2018-08-31 20:00:00,26.571429,78.571429,475.428571,26.857143,82.000000,4.0,20.0,8.0,2018.0,31.0,201.250000,8.768750,2.955000
14589,2018-08-31 21:00:00,26.000000,76.857143,457.714286,26.857143,82.142857,4.0,21.0,8.0,2018.0,31.0,196.666667,7.283333,3.006667
14590,2018-08-31 22:00:00,25.714286,75.857143,447.000000,26.857143,83.285714,4.0,22.0,8.0,2018.0,31.0,174.285714,7.064286,3.021429
14591,2018-08-31 23:00:00,24.142857,72.571429,440.285714,26.857143,83.285714,4.0,23.0,8.0,2018.0,31.0,174.000000,8.280000,2.986000

In [11]:
"""
Train = trainData.shape
tau = 5
features = np.zeros((Train[0]-tau, tau*Train[1]-1))
features = pd.DataFrame(features)
print(features.shape)
for i in range(tau):
    features[:, i*Train[1]:(i+1)*Train[1]] = trainData[i:Train[0]-tau]
print(features)
"""

'\nTrain = trainData.shape\ntau = 5\nfeatures = np.zeros((Train[0]-tau, tau*Train[1]-1))\nfeatures = pd.DataFrame(features)\nprint(features.shape)\nfor i in range(tau):\n    features[:, i*Train[1]:(i+1)*Train[1]] = trainData[i:Train[0]-tau]\nprint(features)\n'

In [12]:
finalData.drop("datetime", axis = 1, inplace = True)

In [13]:


#finalData.drop("PM2.5", axis = 1, inplace = True)

In [14]:
mean = finalData.mean()
min = finalData.min()
max = finalData.max()
finalData = finalData.apply(lambda x: (x - np.mean(x)) / (np.std(x)))
finalData.head(n = 10)

,PM2.5,USAQI,CO2,Temperature,RelativeHumidity,weekday,hour,month,year,dayofmonth,drct,sped,vsby
0,5.171740,3.738979,0.260616,-0.922449,-0.208203,1.498255,-1.661325,-1.479853,-0.815937,-1.672732,-2.213413,-0.692129,-2.241845
1,4.783023,3.436119,0.371624,-1.076610,-0.433009,1.498255,-1.516862,-1.479853,-0.815937,-1.672732,-2.213413,-0.553394,-2.241845
2,4.705280,3.375547,0.218988,-1.076610,-0.632837,1.498255,-1.372399,-1.479853,-0.815937,-1.672732,-2.285570,-1.177704,-2.735142
3,3.124499,2.507350,-0.081657,-1.590477,-0.532923,1.498255,-1.227936,-1.479853,-0.815937,-1.672732,-2.357726,-1.802014,-2.591926
4,2.782428,2.176223,-0.349926,-1.590477,-0.649489,1.498255,-1.083473,-1.479853,-0.815937,-1.672732,-2.285570,-1.247072,-2.518727
5,3.041573,2.426587,-0.414680,-1.693251,-0.682794,1.498255,-0.939010,-1.479853,-0.815937,-1.672732,-2.020997,0.047794,-2.625874
6,3.518398,2.790019,-0.442432,-1.693251,-0.632837,1.498255,-0.794547,-1.479853,-0.815937,-1.672732,-2.242276,-0.581141,-2.645393
7,3.860469,3.032306,-0.433182,-1.796025,-0.599532,1.498255,-0.650084,-1.479853,-0.815937,-1.672732,-1.876684,0.047794,-2.307618
8,4.005590,3.129221,-0.266670,-1.796025,-0.616184,1.498255,-0.505621,-1.479853,-0.815937,-1.672732,-2.155688,-0.803118,-2.202381
9,4.119613,3.185755,-0.183414,-1.590477,-0.649489,1.498255,-0.361158,-1.479853,-0.815937,-1.672732,-0.385453,0.047794,-1.246764

In [15]:
name = list(finalData.columns)
cols, names = list(), list()
for i in range(7, 0, -1): #24 times steps
    cols.append(finalData.shift(i))
    names += [('%s(t-%d)' % (name[j], i)) for j in range(finalData.shape[1])]
#cols.append(finalData.shift(-i))
#names += [('%s(t)' % (name[j])) for j in range(finalData.shape[1])]
finalDataset = pd.concat(cols, axis=1)
finalDataset.columns = names
finalDataset = finalDataset[7:]
labels = finalData["PM2.5"][7:]
display(finalDataset.head())
#labels = finalDataset["PM2.5(t)"]
#finalDataset.drop("PM2.5(t)", axis = 1, inplace = True)
#display(finalDataset)

,PM2.5(t-7),USAQI(t-7),CO2(t-7),Temperature(t-7),RelativeHumidity(t-7),weekday(t-7),hour(t-7),month(t-7),year(t-7),dayofmonth(t-7),...,Temperature(t-1),RelativeHumidity(t-1),weekday(t-1),hour(t-1),month(t-1),year(t-1),dayofmonth(t-1),drct(t-1),sped(t-1),vsby(t-1)
7,5.171740,3.738979,0.260616,-0.922449,-0.208203,1.498255,-1.661325,-1.479853,-0.815937,-1.672732,...,-1.693251,-0.632837,1.498255,-0.794547,-1.479853,-0.815937,-1.672732,-2.242276,-0.581141,-2.645393
8,4.783023,3.436119,0.371624,-1.076610,-0.433009,1.498255,-1.516862,-1.479853,-0.815937,-1.672732,...,-1.796025,-0.599532,1.498255,-0.650084,-1.479853,-0.815937,-1.672732,-1.876684,0.047794,-2.307618
9,4.705280,3.375547,0.218988,-1.076610,-0.632837,1.498255,-1.372399,-1.479853,-0.815937,-1.672732,...,-1.796025,-0.616184,1.498255,-0.505621,-1.479853,-0.815937,-1.672732,-2.155688,-0.803118,-2.202381
10,3.124499,2.507350,-0.081657,-1.590477,-0.532923,1.498255,-1.227936,-1.479853,-0.815937,-1.672732,...,-1.590477,-0.649489,1.498255,-0.361158,-1.479853,-0.815937,-1.672732,-0.385453,0.047794,-1.246764
11,2.782428,2.176223,-0.349926,-1.590477,-0.649489,1.498255,-1.083473,-1.479853,-0.815937,-1.672732,...,-1.179383,-0.799360,1.498255,-0.216695,-1.479853,-0.815937,-1.672732,-2.126826,-0.692129,-1.723724

In [16]:
#finalDataset = finalDataset[:8000]
finalDataset.reset_index(drop = True)
finalDataset = finalDataset[:-1]
labels = labels[:-1]
#we have data for a total of 20 months, let's train (roughly) for 16 months, and test for the remaining 4.
trainDataX = finalDataset[:30*16*24]
testDataX = finalDataset[30*16*24:]
trainDataY = labels[:30*16*24]
testDataY = labels[30*16*24:]

#trainData.info()
#testData.info()

In [17]:
finalDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14584 entries, 7 to 14590
Data columns (total 91 columns):
PM2.5(t-7)               14584 non-null float64
USAQI(t-7)               14584 non-null float64
CO2(t-7)                 14584 non-null float64
Temperature(t-7)         14584 non-null float64
RelativeHumidity(t-7)    14584 non-null float64
weekday(t-7)             14584 non-null float64
hour(t-7)                14584 non-null float64
month(t-7)               14584 non-null float64
year(t-7)                14584 non-null float64
dayofmonth(t-7)          14584 non-null float64
drct(t-7)                14584 non-null float64
sped(t-7)                14584 non-null float64
vsby(t-7)                14584 non-null float64
PM2.5(t-6)               14584 non-null float64
USAQI(t-6)               14584 non-null float64
CO2(t-6)                 14584 non-null float64
Temperature(t-6)         14584 non-null float64
RelativeHumidity(t-6)    14584 non-null float64
weekday(t-6)             14584 non-null float64
hour(t-6)                14584 non-null float64
month(t-6)               14584 non-null float64
year(t-6)                14584 non-null float64
dayofmonth(t-6)          14584 non-null float64
drct(t-6)                14584 non-null float64
sped(t-6)                14584 non-null float64
vsby(t-6)                14584 non-null float64
PM2.5(t-5)               14584 non-null float64
USAQI(t-5)               14584 non-null float64
CO2(t-5)                 14584 non-null float64
Temperature(t-5)         14584 non-null float64
RelativeHumidity(t-5)    14584 non-null float64
weekday(t-5)             14584 non-null float64
hour(t-5)                14584 non-null float64
month(t-5)               14584 non-null float64
year(t-5)                14584 non-null float64
dayofmonth(t-5)          14584 non-null float64
drct(t-5)                14584 non-null float64
sped(t-5)                14584 non-null float64
vsby(t-5)                14584 non-null float64
PM2.5(t-4)               14584 non-null float64
USAQI(t-4)               14584 non-null float64
CO2(t-4)                 14584 non-null float64
Temperature(t-4)         14584 non-null float64
RelativeHumidity(t-4)    14584 non-null float64
weekday(t-4)             14584 non-null float64
hour(t-4)                14584 non-null float64
month(t-4)               14584 non-null float64
year(t-4)                14584 non-null float64
dayofmonth(t-4)          14584 non-null float64
drct(t-4)                14584 non-null float64
sped(t-4)                14584 non-null float64
vsby(t-4)                14584 non-null float64
PM2.5(t-3)               14584 non-null float64
USAQI(t-3)               14584 non-null float64
CO2(t-3)                 14584 non-null float64
Temperature(t-3)         14584 non-null float64
RelativeHumidity(t-3)    14584 non-null float64
weekday(t-3)             14584 non-null float64
hour(t-3)                14584 non-null float64
month(t-3)               14584 non-null float64
year(t-3)                14584 non-null float64
dayofmonth(t-3)          14584 non-null float64
drct(t-3)                14584 non-null float64
sped(t-3)                14584 non-null float64
vsby(t-3)                14584 non-null float64
PM2.5(t-2)               14584 non-null float64
USAQI(t-2)               14584 non-null float64
CO2(t-2)                 14584 non-null float64
Temperature(t-2)         14584 non-null float64
RelativeHumidity(t-2)    14584 non-null float64
weekday(t-2)             14584 non-null float64
hour(t-2)                14584 non-null float64
month(t-2)               14584 non-null float64
year(t-2)                14584 non-null float64
dayofmonth(t-2)          14584 non-null float64
drct(t-2)                14584 non-null float64
sped(t-2)                14584 non-null float64
vsby(t-2)                14584 non-null float64
PM2.5(t-1)               14584 non-null float64
USAQI(t-1)               14584 non-null float64
CO2(t-1)                 14584 non-null float64
Temperature(t-1)         14584 non-null float64
RelativeHumidity(t-1)    14584 non-null float64
weekday(t-1)             14584 non-null float64
hour(t-1)                14584 non-null float64
month(t-1)               14584 non-null float64
year(t-1)                14584 non-null float64
dayofmonth(t-1)          14584 non-null float64
drct(t-1)                14584 non-null float64
sped(t-1)                14584 non-null float64
vsby(t-1)                14584 non-null float64
dtypes: float64(91)
memory usage: 10.1 MB

In [18]:
from mxnet import nd
finalDataset = nd.array(finalDataset).reshape(-1, 7, 13)
trainDataX = nd.array(trainDataX).reshape(-1, 7, 13)
testDataX = nd.array(testDataX).reshape(-1, 7, 13)

In [19]:
trainDataY = nd.array(trainDataY)
testDataY = nd.array(testDataY)

In [20]:
model = mxnet.gluon.nn.Sequential()
model.add(mxnet.gluon.rnn.LSTM(13, 1, dropout = 0.2))
#model.add(mxnet.gluon.rnn.LSTM(30, 1, dropout = 0.2))
#model.add(mxnet.gluon.rnn.LSTM(10, 1, dropout = 0.2))
model.add(mxnet.gluon.nn.Dense(1, activation='tanh'))

model.initialize(mxnet.init.Xavier())

trainer = mxnet.gluon.Trainer(
    params=model.collect_params(),
    optimizer='adam',
    optimizer_params={'learning_rate': 0.05}
)

In [21]:
loss = mxnet.gluon.loss.L2Loss()
error = mxnet.metric.MSE()

In [ ]:
epochs = 50
trainingLoss = []
train_iter = mxnet.io.NDArrayIter(trainDataX, trainDataY, 12, shuffle=True)
for epoch in range(epochs):
    for trn_batch in train_iter:
        x = trn_batch.data[0]
        y = trn_batch.label[0]
        
        with mxnet.autograd.record():
            y_pred = model(x)
            im_loss = loss(y_pred, y)
        
        #backprop
        im_loss.backward()
        
        #Optimize!
        trainer.step(batch_size=12)
        
    train_iter.reset()
    
    # Calculate train metrics
    
    predictions = model(trainDataX)
    error.update(trainDataY, predictions)
    trainingLoss.append(error.get()[1])
    error.reset()
    
    train_iter.reset()
    
    print("epoch: {} | trn_loss: {:.8f}".format(epoch+1,
                                                trainingLoss[-1]))

epoch: 1 | trn_loss: 0.43129492
epoch: 2 | trn_loss: 0.43234262
epoch: 3 | trn_loss: 0.42848614
epoch: 4 | trn_loss: 0.43421885
epoch: 5 | trn_loss: 0.43545032
epoch: 6 | trn_loss: 0.43323636
epoch: 7 | trn_loss: 0.43420979
epoch: 8 | trn_loss: 0.44458196
epoch: 9 | trn_loss: 0.44570160
epoch: 10 | trn_loss: 0.45378622
epoch: 11 | trn_loss: 0.43634617
epoch: 12 | trn_loss: 0.43598908
epoch: 13 | trn_loss: 0.43919000
epoch: 14 | trn_loss: 0.43690169
epoch: 15 | trn_loss: 0.44008002
epoch: 16 | trn_loss: 0.44272470
epoch: 17 | trn_loss: 0.44486073
epoch: 18 | trn_loss: 0.43718356
epoch: 19 | trn_loss: 0.43797109
epoch: 20 | trn_loss: 0.44124013
epoch: 21 | trn_loss: 0.43570176
epoch: 22 | trn_loss: 0.44101211
epoch: 23 | trn_loss: 0.43190023
epoch: 24 | trn_loss: 0.43907607
epoch: 25 | trn_loss: 0.44976875
epoch: 26 | trn_loss: 0.46298230
epoch: 27 | trn_loss: 0.43405804
epoch: 28 | trn_loss: 0.43718010
epoch: 29 | trn_loss: 0.43066075
epoch: 30 | trn_loss: 0.43767217
epoch: 31 | trn_loss: 0.44553372
epoch: 32 | trn_loss: 0.43842289
epoch: 33 | trn_loss: 0.44072765
epoch: 34 | trn_loss: 0.43602449
epoch: 35 | trn_loss: 0.44015673
epoch: 36 | trn_loss: 0.44007760
epoch: 37 | trn_loss: 0.44284949

In [ ]:
print(y_pred)

In [ ]:
predictions = model(testDataX)
plt.plot(testDataY[:100].asnumpy(), label = 'actual')
plt.plot(predictions[:100].asnumpy())
plt.legend()

In [ ]:
testDataX2 = testDataX.copy()

prediction2 = []
print(testDataX2[0])
print(testDataX2[1])
print(model(testDataX2[0].reshape(-1,7,13)), testDataY[0])